.htmlWriter{
	height: 100px;
	padding: 3px;
}

.PostAuthor
{
    font-family: Helvetica;
    font-size: 10px;
}
.PostTitle
{
    font-family: Arial;
    font-size: 22px;
}

.CommentAuthor
{
    font-family: Helvetica;
    font-size: 10px;
}

.CommentText
{
    font-family: Menlo;
    font-size: 18px;
}

.post
{
    margin: 25px;
}

.panel
{
    border: 6px groove gray;
    background-color: lightgrey;
    color: sienna;
}

.addPost, .addComment{
    padding: 10px;
}

.panel-footer
{
    color: #dff0d8;
}
ul.footer{
    margin-top:10px;
    text-align:center;
}

ul.footer li{
    color:#333;
    display:inline-block;
}


#footer{

    bottom: -50px;
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
}

textarea{
    resize: none;
}