.htmlWriter{
	height: 100px;
	padding: 3px;
}

.PostAuthor
{
    font-family: Helvetica;
    font-size: 10px;
}
.PostText
{
    font-family: Arial;
    font-size: 22px;
}

.CommentAuthor
{
    font-family: Helvetica;
    font-size: 10px;
}

.CommentText
{
    font-family: Menlo;
    font-size: 18px;
}

.post, .test
{
    margin: 25px;
}

.panel
{
    border: 6px groove gray;
    background-color: lightgrey;
    color: sienna;
}

.panel-footer
{
    background-color: #adadad;
    color: #dff0d8;
}
.Test{
    border: 6px groove gray;
    background-color: lightgrey;
    color: sienna;
}

textarea
{
    resize: none;
}