<div class="container">
    <div site-header></div>
    <div class="post">
        <br>
        <div class="panel panel-default">
            <div class="panel-body">
                <span class="PostAuthor">{{post.author}}</span>
                <div class="PostTitle">{{post.title}}</div>
                <div class="PostText">{{post.text}}</div>
            </div>
            <br>
            <br>
            <div class="panel-footer clearfix">
                <div class="panel-body">
                    <div ng-repeat="comment in post.comments">
                        <span class="CommentAuthor">Comment Author</span>
                        <div class="CommentText">Mi bravo na teb </div>
                        <hr/>
                    </div>
                    <form class="panel">
                        <div class="addPost">

                            <div class="form-group">
                                <label for="postText">Text:</label>
                                <textarea rows="6" id="postText" class="form-control" placeholder="Enter text of your comment..." style=" resize: none"></textarea>
                            </div>

                            <div class="form-group">

                                <button type="submit" class="btn btn-primary" ng-click="">Add comment</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>