<div class="footer navbar-fixed-bottom">
    <div class="span12">
        <div style="background-color:#dddddd" class="footer">
            <ul class="footer">

                <li>Сайтът е направен от
                    <a href="https://www.facebook.com/iliqn.kordev?fref=ts">Илиян Кордев</a>,
                    <a href="https://www.facebook.com/iliqn.kordev?fref=ts">Кръстиян Томов</a>,
                    <a href="https://www.facebook.com/filip.pepegov?fref=ts">Филип Пепегов</a>,
                    <a href="https://www.facebook.com/lisika.lisikov">Габриел Гаравалов</a> и
                    <a href="https://www.facebook.com/david.petrov.526">Дейвид-Николас Петров</a>
                </li>&nbsp;&nbsp;
            </ul>
        </div>
    </div>
</div>