<div class="container">
    <div style="background-color:#dddddd" class="jumbotron">
        <h1 style="text-align:center">Masters Web School</h1>
    </div>
    <div class="row main-row">
        <div class="col-md-6">
            <h3>За нас</h3>
            <p>Ние сме ученици от ТУЕС, чиято задача за хакатона</p>
            <p>беше да направят сайт, полезен за учениците.</p>
            <p class="">
                <a class='btn btn-primary' href="#/login">Login</a>
            </p>
        </div>
        <div class="col-md-6">
            <h3>Възможности</h3>
            <p>В нашия сайт можеш да намериш</p>
            <p>помощ за проблемите ти в учлище.</p>
            <p class="">
                <a class='btn btn-primary' href="#/register">Register</a>
            </p>
        </div>
        <span></span>
    </div>
</div>